/* Generics */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* Col, w-n & Display */

.col{
    float: left;
}

.float-right{
    float: right;
}

.inline{
    display: inline-block;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}

.w-70{
    width: 70%;
}
/* Text-color & align */

.white{
    color: white;
}

.text-right{
    text-align: right;
}

.middle{
    line-height: 80px;
    vertical-align: middle;
    height: 80px;
}
/* Link */

a{
    text-decoration: none;
    color: black;
    margin: 25px 25px;
}

/* Position-fix */

.fixed{
    position: fixed;
}

/* Boxes */

.blue-box{
    background-color: rgb(0,97,255);
}

.button-top-right{
    margin-top: 25px;
    margin-bottom: 25px;
}
/* Logo section */

.top-header{
    height: 80px;
    padding-top: 20px;
}

/* Header */

header{
    padding-top: 50px;
    width: 100%;
    text-align: left;
    background-color: rgb(180,208,231);
}

h1{
    font-size: 5em;
}

.bck-light-cyan{
    background-color: rgb(180,208,231); 
}

.jumbotron{
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(180,208,231);
}