/* Generics */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
}

main{
    position: relative;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* Col, w-n & Display */

.col{
    float: left;
}

.float-right{
    float: right;
}

.inline{
    display: inline-block;
}

.w-25{
    width: 25%;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}

.w-70{
    width: 70%;
}

.w-100{
    width: 100%;
    position: relative;
}

.minw-100{
    min-width: 100%;
}
.w-m70{
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

/* Text-color & align */

.white{
    color: white;
    font-weight: bold;
}

.text-right{
    text-align: right;
}

.middle{
    line-height: 80px;
    vertical-align: middle;
    height: 80px;
}
/* Link */

.top-header, a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
}

/* Position-fix */

.fixed{
    position: fixed;
}

/* Boxes */

.blue-box{
    background-color: rgb(0,97,255);
}

/* Logo section */

.top-header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 3px 3px lightgray;
    z-index: 2;
}

.top-header img{
    vertical-align: middle;
}

.blue-box:hover{
    filter: brightness(1.8);
}

/* Header */

header{
    padding-top: 50px;
    width: 100%;
    height: 700px;
    text-align: left;
    background-color: rgb(180,208,231);
}

h1{
    font-size: 5em;
}

.jumbotron{
    max-width: 80%;
    margin: 0 auto;
}

.button{
    padding: 10px 15px;
}

.jumbo{
    width: 80%;
    height: 500px;
    margin-left: 200px;
}
.downarrow{
    font-size: 3.5em;
    margin-left: -20px;
}


/* First - Section */

.col30-minheight{
    min-height: 1000px;
}
h2{
    font-size: 2.8em;
}

.button-size{
    font-size: 0.8em;
}

.title-col{
    font-size: 1.5em;
}

.buy-now{
    text-decoration: underline;
    color:  rgb(0,97,255);
}

.blue-color{
    color:  rgb(0,97,255);
}

.price-col{
    font-weight: bold;
    font-size: 1em;
}
.cyan-radio{
    background-color:#fff;
    border: 5px solid rgb(0,97,255);    
    height: 15px;
    border-radius:50%;
    max-width: 15px;
    padding: 0 10px; 
}

.radio{
    background-color:#fff;
    border: 1px solid lightgray;    
    height: 15px;
    border-radius:50%;
    max-width: 15px;
    padding: 0 10px; 
}

.radio-text{
    font-weight: bold;
    padding-left: 5px;
}

.border-gray{
    border: 1px solid lightgray;
    height: auto;
}

hr{
    background-color: lightgray;
    color: lightgray;
}

.small-hr{
    background-color: lightgray;
    color: lightgray;
    max-width: 20%;
}

.gray{
    color: gray;
}

.dark-gray{
    color:rgb(219,219,219);
}

.black{
    color: black;
}
/* First section bottom */

#button-right{
    font-size: small;
    font-weight: normal;
    margin-top: 0;
}

/* Second - section  (partner)*/

#partner{
    max-width: 100%;
    max-height: fit-content;
    padding: 0;
}

h3{
    font-size: 1.8em;
}

#p-partner{
    font-size: 20px;
}

.button-border{
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    margin-left: 0;
}

/* Third - Section (card) */

.Dropbox-Paper:hover{
    text-decoration: underline;
}

.card img{
    width: 75%;
    height: 75%;
    margin: 0 auto;
}

/* Fourth - Section*/

.link{
    display: inline-block;
    margin-left: 0;
}

.link:hover{
    text-decoration: underline;
}

.card p{
    margin-top: 30px;
}

div .w-25 .w-50 img{
    width: 100%;
    padding: 15%;
}

#designit{
    width: 40%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.small-hr{
    margin-left: 20px;
    max-width: 15%;
}



.bkg-color-gray{
    background-color: rgb(245,245,245);
}

.bkg-color-blue{
    background-color: rgb(180,208,231);
}

.bkg-color-green{
    background-color: rgb(162,211,155);
}

.bkg-color-darkred{
    background-color: rgb(97,8,43);
}

.bkg-color-cyan{
    background-color: rgb(0,147,206);
}

.bkg-color-red{
    background-color: rgb(255,28,28);
}

.bkg-color-nred{
    background-color: rgb(213,0,31);
}

.bkg-color-nblue{
    background-color: rgb(180,208,231);
}

.bkg-color-darkblue{
    background-color: rgb(13,36,129);
}

.bkg-color-yellow{
    background-color: yellow;
}

.free-trial{
    vertical-align: middle;
    text-align: center;
    background-color: white;
    margin-left: 45%;
}
.color-red{
   color: rgb(97,8,43);
}

.red-text{
    font-weight: bold;
    font-size: 2.5em;
    max-width: fit-content;
    padding-left: 150px;
}

/* Client-section ( done well )*/

.container-small{
    max-width: 1000px;
    margin: 0, auto;
}

.container{
    max-width: 100vw;
    margin: 0, auto;
}

.square{
    float: left;
}

#squares{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.quarter-square{
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
}

.quarter-square div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(0);
}
/* Pre-footer */

/* Spacing */

.text-align-right{
    text-align: right;
}

.margin-top{
    margin-top:  30px;
}

.margin-bottom{
    margin-bottom: 50px;
}
.margin-top-good{
    margin-top: 50px;
}

.margin-top-small{
    margin-top: 15px;
}

.margin-top-big{
    margin-top: 100px;
}

.margin-left-right{
    margin-right: 5%;
    margin-left: 5%;
}

.text-align-center{
    text-align: center;
}

.padding-button{
    text-align: center;
    padding: 10px 15px;
}
.padding-bottom{
    padding-bottom: 25px;
}

.padding-free-trial{
    height: 400px;
    vertical-align: middle;
    line-height: 400px;
}
.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-left{
    padding-left: 5px;
}

.padding-left-n{
    padding-left: 20px;
}

.padding-left-big{
    padding-left: 50px;
}

.padding-left-right{
    padding-left: 20px;
    padding-right: 20px;
}